<nav class="menu" role="nav">
    <ul>
      	<li>
      		<a href="http://weibo.com/404page/" target="_blank">
                <i class="fa icon-sina-weibo" style="font-size: 20px;position: relative;top: 2px;"></i> <span>Weibo</span>
            </a>
      	</li>
      	<li>
      		<a href="https://github.com/ongakuer" target="_blank">
                <i class="fa icon-github2"  style="font-size: 20px;position: relative;top: 2px;"></i> <span>Github</span>
            </a>
      	</li>
      	<li>
      		<a href="https://twitter.com/relexstar" target="_blank">
                <i class="fa icon-twitter2"  style="font-size: 20px;position: relative;top: 2px;"></i> <span>Twitter</span>
            </a>
      	</li>
    </ul>
</nav>